html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    /* overflow: hidden; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.navButton {
    color: white;
    margin: 5px;
}

.navButton:hover {
    cursor: pointer;
}

#dayModeBtn {
    position: fixed;
    top: 15vh;
    right: 1vw;
    z-index: 99;
    border: none;
    border-radius: 50%;
    animation: bounce 0.6s ease-in 0s infinite alternate;
}

#dayModeBtn:hover {
    cursor: pointer;
}

@keyframes bounce {
    0% {
        top: 15vh;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
    100% {
        top: 14.8vh;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }
}

#mapCanvas {
    border-radius: 5px;
    margin: 5px;
}

.dark-mode{
    background-color: #2C394B;
    color: #EEEEEE
}

.hoverEffectForBuiliding:hover {
    cursor: pointer;
}
